<script setup lang='ts'>
import {ref, watch, defineEmits, onMounted} from "vue"

  const props = withDefaults(defineProps<{
     class?: string,
     label?: string,
     mainClass?: string,
     url?: string,
     full?: boolean,
     modelVal?: any
  }>(),
    { class: 'blue', label: 'Upload Icon', mainClass: '' , full : false }
  )
  const emit = defineEmits<FileEmit>()
  export interface FileEmit {
    (e: 'update:fileValue', value: any): any,
  }
  const imageUrl = ref('')

const imageClear = () => {

  imageUrl.value = ''
  emit('update:fileValue', null)
}
  const handleFileChange = (e:any) => {
      emit('update:fileValue', e.target.files[0])
      imageUrl.value = URL.createObjectURL(e.target.files[0])
  }
  watch(props, () => {
    if(!props.modelVal) {
      imageUrl.value = ''
    }
  })
  onMounted(() => {
    if(props.modelVal && typeof props.modelVal === 'string') {
      imageUrl.value = props.modelVal
      return
    }
    else if(props.modelVal) {
      imageUrl.value = URL.createObjectURL(props.modelVal)
    }
    else {
      imageUrl.value = ''
    }
  })
</script>

<template>
  <div  class='file-uploader-box' :class='props.mainClass'>
    <label class='d-flex mx-0 align-center flex-column justify-center' :class='"item-"+props.class'>
      <div class='w-fit-content position-relative' v-if='imageUrl'>
        <v-avatar size='100' radius='50' color='#f4f4f4' :class='"border-"+props.class'>
          <v-img :src='imageUrl' />
        </v-avatar>
        <label class='border-0 d-flex align-center justify-center position-absolute file-edit-btn'>
          <v-icon  @click.self.prevent="imageClear"  size='16' class='text-white' icon='tabler-close' />
        </label>
      </div>
      <div v-else class='d-flex mx-0 align-center flex-column justify-center'>
        <input type='file'  @change='handleFileChange' class='d-none' accept='image/*' />
        <v-icon size='70' icon='tabler-cloud-upload' />
        <span style="color: #000442">{{ props.label }}</span>
      </div>
    </label>
  </div>
</template>

<style lang='scss' scoped>
  .file-uploader-box {
     margin-left: auto;
    margin-right: auto;
    .file-edit-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    label {
      &.item-blue {
        background: rgba(blue, 0.1);
        border: 1px dashed rgba(blue, 0.25);
        i, span {
          color: blue;
        }
        .file-edit-btn {
          background-color: blue !important;
        }
      }
      .border-blue {
        border: 2px solid blue;
      }


      border-radius: 6px;
      height: 150px;
      cursor: pointer;
      span {
        font-weight: 500;
        font-size: 14px;
      }
      .file-edit-btn {
        line-height: 1;
        right: -5px;
        bottom: 5px;
      }
    }
  }
</style>
