<template>
  <div>
    <VCard
        v-if="!loading"
        class="mb-6"
        :title="'welcome back '+user?.name +' !'"
    >
      <VCardText>
        You can now make your post and see .
      </VCardText>
    </VCard>
    <VCard class="pa-3 pm-2" v-else>
      <div class="card is-loading">
         <div class="content">
           <p></p>
        </div>
      </div>
    </VCard>
  </div>
</template>
<script setup>
import {useAuthStore} from "@/stores/auth";

const authStore = useAuthStore();
const user = computed(() => {
  return authStore.getUser();
})
const loading = computed(() => {
  return authStore.getLoad();
})
</script>
<style lang="scss">

</style>
