<script setup lang="ts">
import {VNodeRenderer} from '@layouts/components/VNodeRenderer'
import {themeConfig} from '@themeConfig'
import {emailValidator, requiredValidator} from '@validators'
import {usePostStore} from '@/stores/post'
import {VForm} from "vuetify/components/VForm";
import {useAuthStore} from "@/stores/auth";

const isPasswordVisible = ref(false)
const store = useAuthStore()

const submitLoader = ref(false);
const email = ref('')
const password = ref('')
const refForm = ref<VForm>()
const router = useRouter();
const handleSubmitForm = async () => {
  const valid = await refForm?.value?.validate();
  if (!valid?.valid) return;

  submitLoader.value = true
  await store.login({'email': email.value, 'password': password.value}).then(() => {

      submitLoader.value = false
      router.push('/')

  }).catch(() => {
    submitLoader.value = false
  })
}
</script>

<template>
  <VRow
      no-gutters
      class="auth-wrapper"
  >
    <VCol
        lg="8"
        class="d-none d-lg-flex"
    >
      <div class="position-relative auth-bg rounded-lg w-100 ma-8 me-0">
        <div class="d-flex align-center justify-center w-100 h-100"/>
      </div>
    </VCol>

    <VCol
        cols="12"
        lg="4"
        class="d-flex align-center justify-center"
    >
      <VCard
          flat
          :max-width="500"
          class="mt-12 mt-sm-0 pa-4"
      >
        <VCardText>
          <VNodeRenderer
              :nodes="themeConfig.app.logo"
              class="mb-6"
          />

          <h5 class="text-h5 font-weight-semibold mb-1">
            Welcome to {{ themeConfig.app.title }}!
          </h5>
          <p class="mb-0">
            Please sign-in to your account and start
          </p>
        </VCardText>

        <VCardText>
          <VForm @submit.prevent="handleSubmitForm"
                 ref="refForm"
          >
            <VRow>
              <!-- email -->
              <VCol cols="12">
                <VTextField
                    v-model="email"
                    label="Email"
                    type="email"
                    :rules="[requiredValidator, emailValidator]"
                />
              </VCol>

              <!-- password -->
              <VCol cols="12">
                <VTextField
                    v-model="password"
                    label="Password"
                    :rules="[requiredValidator]"
                    :type="isPasswordVisible ? 'text' : 'password'"
                    :append-inner-icon="isPasswordVisible ? 'tabler-eye-off' : 'tabler-eye'"
                    @click:append-inner="isPasswordVisible = !isPasswordVisible"
                />

                <VBtn
                    block
                    type="submit"
                    class="mt-6"
                    :loading="submitLoader"
                >
                  Login
                </VBtn>
              </VCol>

              <!-- create account -->
              <VCol
                  cols="12"
                  class="text-center"
              >
                <span>New on our platform?</span>
                <a
                    class="text-primary ms-2"
                    @click="router.push('signup')"
                >
                  Create an account
                </a>
              </VCol>
            </VRow>
          </VForm>
        </VCardText>
      </VCard>
    </VCol>
  </VRow>
</template>

<style lang="scss">
@use "@core-scss/template/pages/page-auth.scss";
</style>

<route lang="yaml">
meta:
  layout: blank
  action: read
  subject: Auth
  redirectIfLoggedIn: true
</route>
