<template>
  <div>
  <div v-if="!loading">
    <v-row class="album p-1">
      <v-col cols="12" md="8" style="margin: auto" class="d-flex">
       <VTextField    v-model="filter" placeholder="search for title" style="background:white"></VTextField>
        <VBtn @click="openCreatePost=true" >create post</VBtn>
      </v-col>
      <v-col cols="12" md="8" style="margin: auto" v-for="(post, index) in items" :key="index">
        <PostComponent :post="post"></PostComponent>
      </v-col>

    </v-row>
    <div class="ma-3" v-if="items.length">
      <v-pagination
          v-model="page"
          :length="meta.last_page"
          :ripple='false'
          class='text-end'
          density='default'
          prev-icon='mdi-chevron-left'
          size='30'
      />
    </div>
    <div v-else>
      <h3 class="d-flex justify-center ma-5">sorry theres no post </h3>
    </div>
  </div>
  <div  v-else>
    <v-row class="album p-1">
      <v-col cols="12" md="8" class="pa-4 ma-auto">
      <VCard class="ma-4 pa-3 pb-0" v-for="(i) in 10">
    <div class="card is-loading">
      <div class="content">
        <p></p>
      </div>
    </div>
  </VCard>
      </v-col>
    </v-row>

  </div>

  <VDialog
    v-model="openCreatePost"
    persistent
    title="create post"
    class="v-dialog-sm"
    :max-width="650"
  >
    <CreatePostComponent @close="openCreatePost = false" />
  </VDialog>
  </div>
</template>
<script setup>
import {usePostStore} from "@/stores/post";
import PostComponent from "@/component/PostComponent.vue";
import CreatePostComponent from "@/component/CreatePostComponent.vue";

const store = usePostStore();
const items = computed(() => {
  return store.getItems()
})
const meta = computed(() => {
  return store.getMeta()
})
const loading = computed(() => {
  return store.getLoader()
})
const page = ref(1);
const filter = ref('');
const openCreatePost = ref(false);
watch(page, async () => {
  await store.fetchPosts(filter.value,page.value);
})
watch(filter, async () => {
  await store.fetchPosts(filter.value,1);
})
onMounted(async () => {
  await store.fetchPosts()
})
</script>
