<script lang="ts" setup>
import type {PostData} from '@/stores/post'
import {usePostStore} from "@/stores/post";
import Swal from "sweetalert2";
import {VForm} from "vuetify/components/VForm";
import {requiredValidator} from "@validators";
import UploadFileBox from "@/component/element/UploadFileBox.vue";

const emits = defineEmits<{
  (e: 'close'): void
}>()
const refForm = ref<VForm>()
const title = ref();
const description = ref();
const category = ref();
let image = ref();
let loading = ref(false);
const store = usePostStore();

const validateForm = async () => {

  const valid = await refForm?.value?.validate()
  if (!valid?.valid) return
  loading.value = true;
  const fd: any = new FormData();
  fd.append('category',category.value);
  fd.append('description',description.value);
  fd.append('title',title.value);
  if (image.value)
  fd.append('image',image.value);
  store.CreatePost(fd).then((item)=>{
    emits('close');
  }).finally(()=>{
    loading.value = false;
  })
}



</script>

<template>
  <vCard class="pa-5">

    <v-card-title class='d-flex align-center justify-space-between'>
      <h6 style="color: black" class="d-flex  "> Create Post</h6>
    </v-card-title>
    <v-divider></v-divider>


    <VForm
      class="px-5 pt-2"
      ref="refForm"
      @submit.prevent
    >
      <v-row class='ma-0'>
        <v-col sm='6' class='pa-2 mb-6'>
          <Label class='  mb-15 pb-3'>
            Title <small>*</small>
          </Label>

          <VTextField class="mt-4" v-model="title" :rules="[requiredValidator]" placeholder='Type here '/>
        </v-col>
        <v-col sm='6' class='pa-2  mb-6'>
          <Label class='  mb-15 pb-3 '>
            Category <small>*</small>
          </Label>

          <VTextField class="mt-4" v-model="category" :rules="[requiredValidator]" placeholder='Type here '/>
        </v-col>
        <v-col sm='12' class='pa-0 mb-6'>
          <Label class='  mb-15 pb-3'>
            Description <small>*</small>
          </Label>

          <VTextarea class="mt-4" v-model="description" :rules="[requiredValidator]" placeholder='Type here '/>
        </v-col>
        <v-col class='py-0 my-1' md='12' sm='12'>

          <Label class='input-label mb-2'>
            Post Image
          </Label>

          <UploadFileBox
                         @update:fileValue='e => image=e'
                         class='blue'
                         mainClass='mx-0'
                         label='Upload Image'/>

        </v-col>

      </v-row>
    </VForm>
    <v-divider/>
    <v-card-actions class="px-6  justify-end">
      <div>
        <VBtn block :disabled="loading" @click="emits('close')" class="flat-border px-4 lt-normal text-capitalize">
          Cancel
        </VBtn>
      </div>
      <div>
        <VBtn :loading="loading" @click="validateForm">
          Submit
        </VBtn>
      </div>
    </v-card-actions>

  </vCard>

</template>

<style >
.hover-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

Label {
  font-weight: 600;
  small {
    color: red;
  }
}
.v-badge__badge{
  max-width: 120px !important;
}
</style>
