<script lang="ts" setup>
import Swal from 'sweetalert2'
import type { PostData } from '@/stores/post'
import { usePostStore } from '@/stores/post'
import EditPostComponent from '@/component/EditPostComponent.vue'

const props = withDefaults(defineProps<{
  post?: PostData
}>()
,
{ post: null })

const openUpdatePost = ref(false)
const store = usePostStore()
const handleDelete = ()=>{
  Swal.fire({
    title: `Are You Sure You want to delete ? `,
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes!',
  }).then(async (result: any) => {
    if (result?.isConfirmed) {
      store.DeletePost(props.post.id);

      }
  })

}


</script>

<template>
  <v-card class="mx-auto">
    <v-card-text class="pa-2">
      <div class="d-flex justify-space-between">
      <div class="d-flex align-center">
          <v-avatar color='red'  style="background: darkblue"  size="35px">
            <span class='text-white'>{{post?.userSkeleton}}</span>
          </v-avatar>
        <div class="ml-3">
          <p class="mb-0 subtitle-1">{{ post?.user.name }}</p>
          <small class="mb-0">{{ post?.user.email }}</small>
        </div>
      </div>
      <div class="badge-contain">
        <VBadge text-color="white" :title="post.category" :content="post.category"></VBadge>
      </div>
      </div>
    </v-card-text>
    <v-divider/>

    <v-card-title>{{ post?.title }}</v-card-title>
    <v-card-text>{{ post?.description }}</v-card-text>


      <div class="hover-wrapper text-center" v-if="post.image">
        <img  class="img-post"   :src="post?.image"/>

      </div>

    <v-card-actions class="justify-space-between">
      <v-btn-toggle dense>
        <v-btn text @click="handleDelete" >Delete</v-btn>
        <v-btn text @click="openUpdatePost=true">Edit</v-btn>
      </v-btn-toggle>
      <div class="overline"> {{ post.publication }}</div>
    </v-card-actions>
    <v-divider class="mt-3"></v-divider>
  </v-card>
  <VDialog
    v-model="openUpdatePost"
    persistent
    title="update post"
    class="v-dialog-sm"
    :max-width="650"
  >
    <EditPostComponent
      :post="post"
      @close="openUpdatePost = false"
    />
  </VDialog>
</template>

<style scoped>
.hover-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.hover-wrapper .v-image {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hover-wrapper:hover .v-image {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.img-post{
  max-height: 256px;
  background-size: cover;
 }
.badge-contain{
  position: relative;

  width: 100px;
 /* max-width: 100px;
 */
}
</style>
