// Write your overrides
.card.is-loading {
  .image,
  h2,
  p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }


  h2 {
    height: 30px;
  }
  p {
    height: 70px;
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
